
html,body {
	height: 100%;
	width: 100%;
	margin:0;
	overflow:hidden;
}
body,p {
	background: black;
	color: white;
}			
#city-bar {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	padding: 5px;
	background: grey;
	font-size: 2em;
}
#city-name {
	color: darkgreen;
}
#world-resources {
	/*float: right;*/
}
#mycanvas{
	background: black;
	clear: both;
	/*margin-top: 30px;*/
}
#tooltip {
	position: absolute;
	right: 0;
	bottom: 0;
	font-size: 2em;
	background: grey;
	padding: 5px;
}

.action-button {
	background: grey;
  color: black;
  padding: 0.2em 0.5em;
  border: 2px solid darkgrey;
  border-bottom-color: black;
  border-right-color: black;
  font-size: 1.5em;	
  max-width: 12em;
      
  height: 1.2em;
	overflow: hidden;
}

.extra-description {
	font-size: 0.7em;
}

input [type="radio" i] {
	display: none;
}


input[type="radio"]:checked + .action-button {
    background: #4a4949;
    border-bottom-color: darkgrey;
    border-right-color: darkgrey;
    border-top-color: black;
    border-left-color: black;
    color: lightgrey;

    height: auto;

		overflow: normal;
}


input[type="radio"] {
    display: none;
}

input[type="radio"][disabled] + .action-button {
	background: #aaa;
	color: #ccc;
	border-bottom-color: lightgrey;
  border-right-color: lightgrey;
  border-top-color: white;
  border-left-color: white;
}

